.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid darkorange;
    padding: 0 0 20px;
    margin: 30px 100px;
}

.product-title {
background: skyblue;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 25px;
}

.product-image {
    width: 300px;
}